:host {
  height: 100%;
  position: absolute;
  background: hsl(0deg 0% 61.96% / 20%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}
