@import "breakpoint";

:host {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  header {
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include breakpoint(sm) {
    gap: 3rem;
  }
}
