<ng-container *ngFor="let cell of board?.cells?.values()">
  <div
    [ngClass]="[
      !isOpponent && !!cell.ship ? (cell.ship | truthyKeysToString) + ' ship' : '',
      !!cell.ship && cell.ship.status === 'destroyed' ? (cell.ship | truthyKeysToString) : '',
      cell?.ship?.status || '',
    ]"
    [class.cell]="cell.isClickable"
    [class.clickable]="isOpponent && !cell.isClickable"
    [class.touched]="cell.isTouched"

    (click)="attack(cell)">
    {{ cell.title }}
  </div>
</ng-container>
