$squareSize: 20px;
$squareBorder: 1px solid;
$squareBorderRadius: 4px;

:host {
  display: grid;
  gap: 2px;
  width: max-content;

  > div {
    width: $squareSize;
    height: $squareSize;
    display: flex;
    align-items: center;
    justify-content: center;

    &.touched {
      background-color: #90CAF9;
    }

    &.clickable:not(.touched) {
      cursor: pointer;
    }

    &.clickable:not(.touched):hover {
      background-color: #f5f5f5;
    }

    &.clickable:active {
      opacity: 0.7;
    }

    &.cell {
      border: 1px solid lightgray;
    }

    &.ship {
      background-color: lightcyan;
      border-color: #607d8b !important;

      &.horizontal {
        border-left: unset;
        border-right: unset;

        &.start {
          border-top-left-radius: $squareBorderRadius;
          border-bottom-left-radius: $squareBorderRadius;
          border-left: $squareBorder;
        }

        &.end {
          border-top-right-radius: $squareBorderRadius;
          border-bottom-right-radius: $squareBorderRadius;
          border-right: $squareBorder;
        }
      }

      &:not(.horizontal) {
        border-top: unset;
        border-bottom: unset;

        &.start {
          border-top-left-radius: $squareBorderRadius;
          border-top-right-radius: $squareBorderRadius;
          border-top: $squareBorder;
        }

        &.end {
          border-bottom-left-radius: $squareBorderRadius;
          border-bottom-right-radius: $squareBorderRadius;
          border-bottom: $squareBorder;
        }
      }
    }

    &.impacted {
      background-color: yellow;
    }

    &.destroyed {
      background-color: #ffcdd2;
      border-color: #b71c1c;

      &.horizontal {
        border-left: unset;
        border-right: unset;

        &.start {
          border-left: $squareBorder;
        }

        &.end {
          border-right: $squareBorder;
        }
      }

      &:not(.horizontal) {
        border-top: unset;
        border-bottom: unset;

        &.start {
          border-top: $squareBorder;
        }

        &.end {
          border-bottom: $squareBorder;
        }
      }
    }
  }
}
