<!-- <ng-container *ngFor="let row of board?.matrix">
  <div
    *ngFor="let col of row; let colIndex = index"
    [ngClass]="[
      !!col.ship ? (col.ship | truthyKeysToString) + ' ship' : '',
      col.cell?.state || ''
    ]"
    [class.cell]="!!col.cell"
    [class.clickable]="isOpponent && !!col.cell"

    (click)="board?.touchCell(col)">
    {{ col.value }}
  </div>
</ng-container> -->

<ng-container *ngFor="let row of board?.matrix?.entries()">
  <div
    *ngIf="row[1] as col"
    [ngClass]="[
      !!col.ship ? (col.ship | truthyKeysToString) + ' ship' : '',
      col.cell?.state || ''
    ]"
    [class.cell]="!!col.cell"
    [class.clickable]="isOpponent && !!col.cell"

    (click)="board?.touchCell(col)">
    {{ col.value }}
  </div>
</ng-container>
