@import "breakpoint";

:host {
  display: grid;
  grid-template-areas: "a" "b" "c" "d";
  gap: 2rem;
  justify-content: center;
  position: relative;

  .user-attaks {
    grid-area: d;
  }

  .user-board {
    grid-area: b;
  }

  .computer-attacks {
    grid-area: a;
  }

  .computer-board {
    grid-area: c;
  }


  @include breakpoint(sm) {
    grid-template-areas: "b c" "a d";
  }

  @include breakpoint(lg) {
    grid-template-areas: "a b c d";
  }
}
