
<app-attack-log
  class="user-attacks"
  [attacks]="battleship.user.attacks"
/>

<app-board
  class="user-board"
  [board]="battleship.user.board"
  [showShips]="true"
  [disabled]="true"
/>

<app-attack-log
  class="computer-attacks"
  [attacks]="battleship.computer.attacks"
/>

<app-board
  class="computer-board"
  [board]="battleship.computer.board"
  [showShips]="false"
  (attack)="battleship.play(battleship.user, battleship.computer, $event)"
/>

<!--
  [disabled]="!battleship.user.hasActiveTurn"

 -->
