@import "breakpoint";

:host {
  display: grid;
  grid-template-areas: "a" "b" "c" "d";
  gap: 2rem;
  justify-content: center;

  .user-notifications {
    grid-area: a;
  }

  .user-board {
    grid-area: b;
  }

  .computer-board {
    grid-area: c;
  }

  .computer-notifications {
    grid-area: d;
  }

  @include breakpoint(sm) {
    grid-template-areas: "b c" "a d";
  }

  @include breakpoint(lg) {
    grid-template-areas: "a b c d";
  }
}
